@charset "UTF-8";
/* reset css */
body, header, footer, main, div, h1, ul, li {
  margin: 0;
  pading: 0;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-family: PingFangSC-Regular, Hiragino Sans GB, sans-serif; }

.wrap {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /*  解决划动时候卡顿的问题 */ }

li {
  list-style: none; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.clear:after {
  display: block;
  content: "";
  clear: both; }

.wordFlow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* reset css end */
/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

header .title {
  background: #e54847;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  height: 1.3733333333rem;
  line-height: 1.3733333333rem; }
  [data-dpr="2"] header .title {
    font-size: 36px; }
  [data-dpr="3"] header .title {
    font-size: 54px; }

header .nav {
  height: 1.1733333333rem;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #777; }
  header .nav .city-enter {
    padding-left: 0.4rem;
    font-size: 15px;
    color: #666;
    display: flex;
    align-items: center; }
    [data-dpr="2"] header .nav .city-enter {
      font-size: 30px; }
    [data-dpr="3"] header .nav .city-enter {
      font-size: 45px; }
  header .nav .city-enter:after {
    margin: 0.1066666667rem 0 0 0.1066666667rem;
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 6px solid;
    border-color: #b0b0b0 transparent transparent transparent; }
  header .nav .search {
    height: 1.1733333333rem;
    width: 1.1733333333rem;
    font-size: 20px;
    color: #f03d37;
    text-align: center;
    line-height: 1.1733333333rem;
    font-weight: bold; }
    [data-dpr="2"] header .nav .search {
      font-size: 40px; }
    [data-dpr="3"] header .nav .search {
      font-size: 60px; }
  header .nav .switch-hot {
    flex: 1;
    display: flex;
    justify-content: center; }
    header .nav .switch-hot a {
      width: 2.1333333333rem;
      color: #666;
      font-size: 15px;
      margin: 0 0.32rem;
      height: 1.1733333333rem;
      line-height: 1.1733333333rem;
      text-align: center; }
      [data-dpr="2"] header .nav .switch-hot a {
        font-size: 30px; }
      [data-dpr="3"] header .nav .switch-hot a {
        font-size: 45px; }
      header .nav .switch-hot a.active {
        color: #ef4238;
        border-bottom: 0.0533333333rem solid #ef4238; }

/*header end*/
/* footer */
.footer {
  border-top: 1px solid #d8d8d8;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0; }
  .footer ul {
    padding: 0;
    display: flex; }
    .footer ul li {
      text-align: center;
      display: flex;
      flex: 1;
      height: 1.28rem;
      align-items: center;
      justify-content: center; }
      .footer ul li a {
        display: block;
        color: #696969;
        font-size: 12px; }
        [data-dpr="2"] .footer ul li a {
          font-size: 24px; }
        [data-dpr="3"] .footer ul li a {
          font-size: 36px; }
        .footer ul li a i {
          font-size: 20px;
          display: block; }
          [data-dpr="2"] .footer ul li a i {
            font-size: 40px; }
          [data-dpr="3"] .footer ul li a i {
            font-size: 60px; }
        .footer ul li a span {
          display: block; }
        .footer ul li a.active {
          color: #f03d37; }

/* footer end */
/* main */
.main {
  margin-top: 2.56rem;
  margin-bottom: 1.28rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.4rem;
  background: #fff; }

.pro-list {
  display: flex; }
  .pro-list .pro-img {
    margin-top: 0.3733333333rem;
    margin-right: 0.32rem; }
    .pro-list .pro-img a {
      width: 1.7066666667rem;
      display: block;
      height: 2.4rem; }
    .pro-list .pro-img img {
      width: 100%;
      height: 100%; }
  .pro-list .content {
    padding: 0.3733333333rem 0.32rem 0.3733333333rem 0;
    border-bottom: 1px solid #777;
    background: #fff;
    width: 100%;
    height: 2.4rem;
    display: flex; }
    .pro-list .content .pro-content {
      flex: 1;
      padding-right: 0.1333333333rem; }
    .pro-list .content .move-title {
      width: 5.4133333333rem;
      height: 0.64rem;
      line-height: 0.64rem;
      color: #666;
      font-size: 17px;
      margin-bottom: 0.16rem; }
      [data-dpr="2"] .pro-list .content .move-title {
        font-size: 34px; }
      [data-dpr="3"] .pro-list .content .move-title {
        font-size: 51px; }
    .pro-list .content .source, .pro-list .content .actor, .pro-list .content .show-info {
      width: 5.4133333333rem;
      color: #666; }
      .pro-list .content .source span, .pro-list .content .actor span, .pro-list .content .show-info span {
        font-size: 13px; }
        [data-dpr="2"] .pro-list .content .source span, [data-dpr="2"] .pro-list .content .actor span, [data-dpr="2"] .pro-list .content .show-info span {
          font-size: 26px; }
        [data-dpr="3"] .pro-list .content .source span, [data-dpr="3"] .pro-list .content .actor span, [data-dpr="3"] .pro-list .content .show-info span {
          font-size: 39px; }
      .pro-list .content .source .grade, .pro-list .content .actor .grade, .pro-list .content .show-info .grade {
        color: #faaf00;
        font-size: 15px; }
    .pro-list .content .actor, .pro-list .content .show-info {
      width: 5.4133333333rem;
      margin-top: 0.16rem; }
    .pro-list .content .buy {
      display: flex;
      align-items: center; }
      .pro-list .content .buy a {
        display: block;
        width: 1.2533333333rem;
        height: 0.72rem;
        text-align: center;
        line-height: 0.72rem;
        color: #fff;
        background: #f03d37;
        font-size: 12px;
        border-radius: 8px; }
        [data-dpr="2"] .pro-list .content .buy a {
          font-size: 24px; }
        [data-dpr="3"] .pro-list .content .buy a {
          font-size: 36px; }

/* main end */

/*# sourceMappingURL=index.css.map */
